# Miscellaneous Visual Studio files.
.vs/
.vsconfig
UpgradeLog.htm

# Miscellaneous JetBrains Rider files.
.idea/

# Ignore RiderLink Plugin as it can be reinstalled by JetBrains Rider.
Plugins/Developer/RiderLink/

# Unreal Engine will regenerate the solution file.
*.sln

# Exclude cached files.
DerivedDataCache/

# Exclude compiled files.
Binaries/
Intermediate/

# Exclude generated config files and autosaves.
Saved/

# Exclude Unreal Engine starter content because it can be added via Unreal Editor anytime.
Content/StarterContent/